body {
    margin-top: 30vh;
    font-family: sans-serif;
}

label {
    margin: 5px 0;
}

button {
    margin-top: 10px;
    width: 150px;
    height: 50px;
}

.word {
    word-wrap: break-word;
    text-transform: uppercase;
    text-align: center;
    font-size: 7vw;
    margin: 30px 0;
}

.words-container {
    width: fit-content;
    margin: 0 auto;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}


@media screen and (max-width: 600px) {
}